<%= form_for(@channel, {:id => 'channel_form' }) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {:target => @channel} %>

  <% if edit %>
    <p>
      Name
    </p>
    <%= f.text_field :name %>
  <% else %>
    <p>
      Url
    </p>
    <%= f.text_field :url %>
  <% end %>

  <%= f.submit %>

<% end %>
