<% if @profile %>
<h1>Profile type</h1>
<p><%= @profile.profile_type %></p>

<h1>Avatar</h1>
<p><img src="<%= @profile.avatar.url(:thumb) %>"></p>
<%= link_to 'Edit', edit_profile_path(@profile) %>
|
<%= link_to 'Destroy', profile_path(@profile),  :confirm => 'Are you sure?', :method => :delete %>

<% else %>
<p>
  You should complete your profile!
</p>
<%= link_to 'New', new_profile_path %>

<% end %>


