= render "articles/search"
= link_to 'Starred articles', starred_list_path, :remote => true
|
- if @channel
  = link_to 'Take a close look to this channel ', @channel.url, :target => '_blank'
  %h2!= @channel.name
  #channel_url{:style => 'display: none;'}= @channel.url
  #channel_id{:style => 'display: none;'}= @channel.id
- if @articles
  = paginate @articles, :remote => true
  %ul.style3
    - @articles.each do |article|
      %span{:id => "article#{article.id}"}
      = link_to 'Comment it!', new_comment_path(:id => article.id), :remote => true
      |
      = link_to "#{article.comments.count} comments!", article_path(article), :remote => true
      |
      %span{:id => article.id}
        - unless @starred_articles_ids.include?(article.id)
          = link_to image_tag('starring.svg'), starred_path(article), :remote => true
        - else
          = image_tag("starred.svg")
      %br
      = link_to article.title, article.link, :target => '_blank'
      %br
      != article.description
      %br
  = paginate @articles, :remote => true

:javascript
  setInterval(function() {
    var channel_url = $('#channel_url').text();
    var channel_id = $('#channel_id').text();
    var page = $('.current').first().text().trim();
    $.ajax({
         type: "GET",
         url: "/articles/add_articles",
         data: { channel: channel_id, url: channel_url, page: page },
         success: function(){
         }
        })
      }, 300000);


