%h2 My starred articles
- if @articles
  = paginate @articles, :remote => true
  %ul.style3
    - @articles.each do |article|
      = link_to 'Comment it!', new_comment_path(:id => article.id), :remote => true
      |
      = link_to "#{article.comments.count} comments!", article_path(article), :remote => true
      |
      %br
      = link_to article.title, article.link, :target => '_blank'
      %br
      != article.description
      %br
  = paginate @articles, :remote => true

:javascript
  setInterval(function() {
    var channel_url = $('#channel_url').text();
    var channel_id = $('#channel_id').text();
    var page = $('.current').first().text().trim();
    $.ajax({
         type: "GET",
         url: "/articles/add_articles",
         data: { channel: channel_id, link: channel_url, page: page },
         success: function(){
         }
        })
      }, 300000);


