<ul class="nav">
  <% if user_signed_in? %>
    <li>
    Logged in as <%= current_user.email %>!
    </li>
    |
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    |
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
    |
    <li>
    <%= link_to 'Sign In with Twitter', user_omniauth_authorize_path(:twitter) %>
    </li>
    |
    <li>
    <%= link_to 'Sign In with Google', user_omniauth_authorize_path(:google) %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Channels', channels_path(current_user) %>
    </li>
    |
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    |
    <li>
    <%= link_to 'Profile', profile_path(current_user) %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
